
.round-button {
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 50;
    /* -fx-border-color: #dcdcdc;  */
}


.round-button:hover {
    -fx-background-color: #ebebeb;
}


.round-button:pressed {
    -fx-background-color: #b5b5b5;
}